html{
    font-family: 'Times New Roman', Arial, serif;
}
h1,h2,h3{
    color:#3EB489;
}
footer{
    border-radius: 5px;
    color:white;
}
input{
    border-width: 2px;
    border-radius: 5px;
    border-color: #3EB489;
}
#submit{
    border:none; 
    border-radius:5px; 
    background-color:#3EB489; 
    color:white;
}
#profile{
    border-radius:500px;
}

#languages{
    column-count:2;
}
li{
    list-style:none;
}
li::before{
    /*Unicode for the bullet*/
    content: "\2022";

    color: #3EB489;

    display: inline-block;
    width:1em;
    margin-left: -1em;
}